<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css" />
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="app" data-framework="typescript" ng-strict-di>
  <nav ng-controller="NavbarCtrl" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">__MSG_extName__</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle>
          {{bookmark.title}}
        </div>
        <ol ui-tree-nodes="" ng-model="bookmark.bookmarks">
          <li ng-repeat="bookmark in bookmark.bookmarks" ui-tree-node ng-include="'nodes_renderer.html'">
          </li>
        </ol>
      </script>
      <div ng-controller="TreeCtrl" ui-tree>
        <ol ui-tree-nodes="" ng-model="bookmarks" id="tree-root">
          <li ng-repeat="bookmark in bookmarks" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
      </div>
      <div ng-controller="ViewCtrl" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="inner-header">
          <ol class="breadcrumb pull-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
          </ol>
          <div class="btn-group pull-right">
            <a type="button" class="btn btn-default" aria-label="Tiles"
               ng-class="{active: location.path() == '/tiles'}" ng-href="#/tiles">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
            <a type="button" class="btn btn-default" aria-label="Timeline"
               ng-class="{active: location.path() == '/timeline'}" ng-href="#/timeline">
              <span class="glyphicon glyphicon-film" aria-hidden="true"></span></a>
            <a type="button" class="btn btn-default" aria-label="Tag Cloud"
               ng-class="{active: location.path() == '/tagcloud'}" ng-href="#/tagcloud">
              <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></a>
          </div>
        </div>

        <div ng-view=""></div>
      </div>
    </div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
        (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
    }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/bookmarks.vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/stacktrace-js/stacktrace.js"></script>
  <script src="bower_components/lunr.js/lunr.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/bookmarks.app.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/interfaces/bookmark.js"></script>
  <script src="scripts/interfaces/storage.js"></script>
  <script src="scripts/interfaces/ui.js"></script>
  <script src="scripts/directives/bookmark.js"></script>
  <script src="scripts/controllers/bookmark.js"></script>
  <script src="scripts/controllers/ui.js"></script>
  <script src="scripts/services/bookmark.js"></script>
  <script src="scripts/services/storage.js"></script>
  <script src="scripts/services/module.js"></script>
  <!-- endbuild -->
</body>
</html>
